@import 'https://code.highcharts.com/css/highcharts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

/* .highcharts-container {
    overflow: visible !important;
}

.highcharts-container svg {
    overflow: visible !important;
} */
.highcharts-background {
    fill: #FAF4E1;
}

.highcharts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.highcharts-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
}

.highcharts-axis-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.90rem;
}

.highcharts-axis-labels {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.80rem;
}

.highcharts-legend-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
}

/* Custom styles */
.graphics-hed {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
}
.graphics-subhed {
    font-family: 'Montserrat', sans-serif;
    font-size: .90rem;
    text-align: left;
    line-height: 1.5;
}
.graphics-short-subhed {
    font-family: 'Montserrat', sans-serif;
    font-size: .90rem;
    text-align: center;
    line-height: 1.5;
}
.graphics-legend {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}
.graphics-source {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 0.75rem !important;
    padding-top: 10px;
}
.ki-graphic{
	display: block;
	height: 600px;
	min-width: 310px;
	max-width: 750px;
	margin: 0 auto;
}
.map-graphic {
    height: 600px !important;
    min-width: 310px !important;
    max-width: 685px !important;
    margin: 0 auto !important;
}
container {
    border: blue 1px solid;
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    background-color: #FAF4E1 !important;
}
a {
    color: #2F313B;
}
p {
    margin: 0;
}
img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.btn-primary {
    color: #EFEFEF;
    background-color: #738DA8;
    border-color: #262B3f;
    font-family: 'Montserrat';
}
