@import 'https://code.highcharts.com/css/highcharts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

/* .highcharts-container {
    overflow: visible !important;
}

.highcharts-container svg {
    overflow: visible !important;
} */

.highcharts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.highcharts-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
}

.highcharts-axis-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.90rem;
}

.highcharts-axis-labels {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.80rem;
}

.highcharts-legend-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
}

/* Custom styles */
.graphics-hed {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}
.graphics-subhed {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}
.graphics-legend {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}
.graphics-source {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 0.65rem !important;
}
.ki-graphic{
	display: block;
	height: 600px;
	min-width: 310px;
	max-width: 750px;
	margin: 0 auto;
}
a {
    color: #2F313B;
}
.btn-primary {
    color: #EFEFEF;
    background-color: #738DA8;
    border-color: #262B3f;
    font-family: 'Montserrat';
}
